@use './global.scss';
@import './mixins.scss';
@import './variables.scss';

.logo {
  font-family: $title-fonts;
  font-size: $font-size * 2;
  margin-top: -0.8rem;

  span {
    color: $purple;
  }
}

header {
  background-color: $white;
  border-bottom: 1px solid $purple;
  position: sticky;
  top: 0;
  z-index: 100;
}

nav {
  font-size: $font-size-l;

  ul {
    display: flex;
    align-items: center;
    margin: 0;

    @include md {
      flex-direction: column;
      color: $white;
      margin: $spacing-l 0;
    }
  }

  li {
    list-style: none;
    padding: $spacing-s $spacing;
    border-bottom: 4px solid transparent;
    margin-bottom: -0.8rem;

    &:hover:not(:last-child) {
      border-bottom: 4px solid $purple;
    }

    &:hover {
      color: $purple;
      @include md {
        color: initial;
        svg {
          fill: initial;
        }
      }
    }

    &:last-child {
      margin-bottom: -1.2rem;
    }

    @include md {
      margin: $spacing-s 0;
    }
  }

  svg {
    height: $font-size-l;
    fill: $black;
    width: auto;

    @include md {
      fill: $white;
    }

    &:hover {
      fill: $purple;
    }
  }
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9.4rem;

  nav {
    @include md {
      display: none;
    }
  }
}

.github-icon:after {
  content: 'GitHub';
  margin-bottom: 3px;
}

.hamburger-btn {
  display: none;
  position: absolute;
  top: 13px;
  right: 13px;
  background-color: unset;
  border: none;
  margin: 0;
  padding: 1rem 1.6rem 0.8rem 1.6rem;

  @include md {
    display: block;
  }

  &:hover,
  &:active {
    svg {
      fill: $purple;
    }
  }

  svg {
    height: 4.4rem;
    width: auto;
  }
}

.mobile-menu-wrapper {
  position: absolute;
  top: 9.4rem;
  right: 0;
  height: 0;
  width: 0;
  visibility: hidden;
  transition: height 200ms ease;
  overflow: hidden;

  &.open {
    height: 100vh;
    width: 100vw;
    opacity: 0.95;
    visibility: visible;
  }

  @include md {
    z-index: 200;
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  .mobile-menu {
    height: 42rem;
    background-color: $purple;
  }

  .backdrop {
    background-color: $black;
    opacity: 0.25;
    height: 100%;
  }
}

.hero {
  .img-wrapper {
    padding-bottom: 13rem;
    align-items: flex-end;
  }

  a {
    display: inline-block;
  }
}

.stack {
  .container {
    display: flex;
    flex-direction: column;
  }

  .content-wrapper {
    text-align: center;
  }

  ul {
    display: grid;
    grid-template-columns: repeat(4, 12rem);
    justify-content: space-between;
    list-style: none;
    text-align: center;
    gap: $spacing-l * 2;

    @include md {
      grid-template-columns: repeat(2, 12rem);
      justify-content: space-evenly;
    }
  }

  li {
    height: 100%;
    transition: all 150ms ease-in-out;

    &:hover {
      transform: scale(1.1);
    }
  }

  h3 {
    margin: $spacing-s 0;
    font-size: $font-size-l;
  }

  img {
    height: 12rem;
    max-width: 12rem;
  }
}

.about {
  .img-wrapper {
    padding-top: 6rem;
    align-items: flex-start;
  }
}

.img-wrapper.mobile-only {
  padding: 0 $spacing-s;
}

.projects {
  .container {
    display: flex;
    flex-direction: column;
  }

  .content-wrapper {
    text-align: center;
  }

  .spacer {
    width: $spacing-l * 2;
  }

  .projects-wrapper {
    margin-top: $spacing-l;
  }
}

.project {
  display: flex;
  padding: $spacing-l * 2;
  background-color: $purple-dark;
  background: linear-gradient(-40deg, $purple-dark 0%, #483d56 100%);

  @include md {
    flex-direction: column;
    padding: 0;
  }

  &:not(:last-child) {
    margin-bottom: $spacing-l * 2;
  }

  .img-wrapper {
    flex: 1;
  }

  .project-info {
    flex: 1.45;
    display: flex;
    flex-direction: column;

    @include md {
      padding: 0 $spacing $spacing $spacing;
    }
  }

  h3 {
    font-size: $font-size-l * 1.5;
    line-height: $font-size-l * 1.8;
    margin-top: 0;

    @include md {
      margin-top: revert;
    }
  }

  p {
    margin-top: 0;
  }

  ul {
    font-family: $title-fonts;
    list-style: none;
  }

  .project-links {
    display: flex;
    justify-content: space-between;
    margin-top: auto;

    @include sm {
      flex-direction: column;
    }

    a {
      margin: 0;
      text-align: center;

      @include sm {
        margin-top: $spacing;
      }
    }
  }

  .code {
    span {
      color: hsl(17deg 100% 42%);
    }
  }
}

.contact {
  min-height: 50vh;

  .container {
    display: flex;
    flex-direction: column;
  }

  .content-wrapper {
    text-align: center;
  }

  .form-wrapper {
    display: flex;
    align-items: flex-start;
    margin-top: $spacing-l * 2;
  }

  .img-wrapper {
    padding-top: $spacing-l;
  }

  form {
    max-width: 60rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: $spacing-l;
    flex: 1;

    @include lg {
      margin: 0 auto;
    }

    input,
    textarea {
      display: block;
      width: 100%;
      padding: $spacing-s;
      background-color: $purple-light;
      border: 1px solid transparent;
      border-radius: 4px;
      outline-color: $purple;
      color: $purple-dark;
      margin-top: $spacing-s;

      &:hover {
        border: 1px solid $purple;
      }
    }

    label {
      color: $purple;

      &[for='mail'],
      &[for='msg'] {
        grid-column: 1 / span 2;
      }

      @include sm {
        &[for='name'],
        &[for='company'] {
          grid-column: 1 / span 2;
        }
      }
    }

    textarea {
      height: 25rem;
    }

    ::placeholder {
      color: $purple;
      opacity: 0.7;
    }

    button {
      max-width: 15rem;
      margin-top: 0;
    }
  }
}

footer {
  .content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 15rem;

    @include sm {
      flex-direction: column;
      padding: $spacing-l $spacing-s;
    }
  }

  .logo {
    flex: 1;
  }

  .copyright {
    color: $purple;

    @include sm {
      order: 2;
      margin-top: $spacing-l;
    }
  }

  .socials {
    flex: 1;
    display: flex;
    justify-content: flex-end;

    @include sm {
      display: none;
    }

    img {
      height: 6rem;
      width: auto;
    }
  }
}
